.main-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 100vh auto;
    width: 100% auto;
}

.left-items {}


@media(max-width:810px) {
    .main-container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
    }
}

@media(min-width:1820px) {
    .main-container {
        display: grid;
        grid-template-columns: 4fr 1fr;
        height: 100vh auto;
        width: 100% auto;
       
    }
    .left-items{
     padding-left: 12%;
    }
}
